.navBar {
  height: 80px;
  display: flex;
  background: #181818a6;
  align-items: center;
  width: 100vw;
  position: fixed;
}

.logo {
  height: 60px;
  margin-left: 10px;
  border-radius: 20px;
}

.nav__menu span {
  display: none;
}
.nav__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-family: "Roboto";
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
nav > ul > li:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 762px) {
  a {
    font-size: 16px;
  }
  .nav__menu {
    column-gap: 0.8rem;
    padding-left: 0;
    padding-right: 15px;
  }
  .navBar {
    height: 70px;
    background-color: #181818;
  }
  .logo {
    margin-left: 5px;
    height: 50px;
  }
  h1 {
    text-align: center;
  }
}
